!!! 5
/[if lt IE 7]
	<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7]
	<html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8]
	<html class="no-js lt-ie9" lang="en">
/[if gt IE 8]
	<html class="no-js" lang="en">
/
	|_| o
	| | |  o

	Thanks for taking a look back here!
	This code was made with HAML and SASS.
	To see it in its OG-goodness, take a look on Github: https://github.com/sbone

%head
	%meta{:charset => "utf-8"}
	%meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

	%title Steven Bone, Web Developer

	%meta{:name => "description", :content => "Portfolio of Steven Bone, Brooklyn-based Web Developer"}
	%meta{:name => "viewport", :content => "width=device-width"}
	%link{:rel => "shortcut icon", :href => "http://stevenbone.com/favicon.ico?v=2"}
	%link{:rel => "stylesheet", :href => "site.css"}
	/[if lt IE 9]
		%script{:src => "//html5shiv.googlecode.com/svn/trunk/html5.js"}

%body
	%header
		%h1
			Steven Bone
			%span Web Developer
		%ul
			%li
				%a{:href => "mailto:steven@stevenbone.com"}Email
			%li
				%a{:href => "https://github.com/sbone"}Github
			%li
				%a{:href => "http://www.linkedin.com/pub/steven-bone/15/853/903"}LinkedIn


	%div{:role => "main", :id => "container"}
		%div{:class => "full-time work"}
			%div{:class => "employer"}
				%header
					%hgroup
						%h1
							%a{:href => "http://canvas.is"}Canvas
						%h2
							Front-end Web Developer
							%span 8/11-Present
						%p Part of a small team producing desktop and mobile interfaces for high-profile clients such as Showtime Sports, Credit Suisse, and Stribling.
						%h4 Featured Work:
				%div{:class => "featured"}
					%article
						%div{:class => "project-info"}
							%header
								%hgroup
									%h3
										%a{:href => "http://www.stribling.com/"}Stribling
									%p Luxury real estate brand in New York City.<br />Desktop and mobile views of site developed side-by-side.
							%ul
								%li HTML5
								%li CSS3
								%li jQuery
								%li Ruby on Rails
						%div{:class => "project-images"}
							%img{:src => "img/stribling-mobile.jpg"}
							%img{:src => "img/stribling-desktop.jpg"}
					%article
						%div{:class => "project-info"}
							%header
								%hgroup
									%h3
										%a{:href => "http://holtvaluationchallenge.com/"}Credit Suisse HOLT Valuation Challenge
									%p Invite-only interactive quiz for selected university students
							%ul
								%li HTML5
								%li CSS3
								%li jQuery
								%li Ruby on Rails
						%div{:class => "project-images"}
							%img{:src => "img/holt-login.jpg"}
							%img{:src => "img/holt-game.jpg"}

			%div{:class => "employer"}
				%header
					%hgroup
						%h1
							%a{:href => "http://newpaltz.edu"}SUNY New Paltz
						%h2
							Web Developer
							%span 12/09-7/11
						%p
							Half of a team responsible for all front-end aspects of
							%a{:href => "http://newpaltz.edu"}newpaltz.edu
						%h4 Featured Work:
				%div{:class => "featured"}
					%article
						%div{:class => "project-info"}
							%header
								%hgroup
									%h3
										%a{:href => "http://www.newpaltz.edu/admissions/viewbook/"}Admissions Viewbook
										|
										%a{:href => "http://www.newpaltz.edu/green/"}New Paltz is Green
							%ul
								%li HTML5
								%li CSS3
								%li jQuery
						%div{:class => "project-images"}
							%img{:src => "img/newpaltz-viewbook.jpg"}
							%img{:src => "img/newpaltz-green.jpg"}

			%div{:class => "employer"}
				%header
					%hgroup
						%h1 Selected Freelance
						%p Development and Design

				%div{:class => "featured"}
					%article
						%div{:class => "project-info"}
							%header
								%hgroup
									%h3
										%a{:href => "http://expresoritmico.com/"}Expreso Ritmico
										|
										%a{:href => "http://creativelicense.info/"}Creative License
							%ul
								%li HTML5
								%li CSS3
								%li jQuery
								%li Perch CMS
						%div{:class => "project-images"}
							%img{:src => "img/expreso-ritmico.jpg"}
							%img{:src => "img/creative-license.jpg"}
	%footer

	%script{:src => "js/script.js"}

	%script var _gaq=[['_setAccount','UA-6108755-10'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));