article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1em;
  line-height: 1.6;
}

::-moz-selection, ::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:visited {
  color: black;
}
a:hover {
  color: #cccccc;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  margin: 0;
}

.clearfix, .featured article, .project-info {
  *zoom: 1;
}
.clearfix:before, .featured article:before, .project-info:before, .clearfix:after, .featured article:after, .project-info:after {
  content: "";
  display: table;
}
.clearfix:after, .featured article:after, .project-info:after {
  clear: both;
}

body {
  padding-top: 1em;
}

header {
  margin: 0 20%;
}
header h1 {
  margin-bottom: 0.2em;
}
header h1 span {
  font-size: 0.6em;
  color: #ccc9d1;
}
header h2 {
  margin-bottom: 0.4em;
}
header ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
header ul li {
  float: left;
  margin-right: 1em;
}
header ul li a {
  color: #a4abbf;
}

#container {
  margin: 0 20%;
  width: 60%;
}
#container header {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  line-height: 1;
  font-weight: 300;
}

p {
  line-height: 1.4;
}

h4 {
  margin: 0.6em 0 0.8em;
}

.work h1 {
  font-size: 1.2em;
}
.work h2 {
  font-weight: 400;
  font-size: 1em;
  color: #5f6273;
}
.work h2 span {
  color: #a4abbf;
}
.work p {
  color: #a4abbf;
}

.employer {
  margin: 2em 0;
}
.employer + .employer {
  padding-top: 0.8em;
}
.employer h1 {
  font-size: 1.4em;
}

.full-time {
  width: 100%;
  float: left;
}

.featured article {
  width: 95%;
  margin: 2% 0 0 0;
  border-left: 1px solid #e2e1e9;
  padding-left: 3%;
}

.project-info {
  width: 100%;
  margin-bottom: 0.5em;
}
.project-info header {
  float: left;
}
.project-info header hgroup h3 {
  margin-bottom: 0.2em;
}
.project-info header hgroup p {
  font-size: 0.8em;
  color: #a4abbf;
}
.project-info ul {
  margin: 0;
  padding-left: 2.5em;
  float: right;
  color: #a4abbf;
  font-size: 0.6em;
  list-style-type: none;
  border-left: 1px #e2e1e9 solid;
}

.project-images img {
  float: left;
  max-width: 49%;
}
.project-images img + img {
  margin-left: 2%;
}

@media only screen and (max-width: 960px) {
  body {
    font-size: 0.9em;
    line-height: 1.6;
  }

  .employer {
    margin-top: 1.6em;
  }

  p {
    line-height: 1.4;
  }

  .featured article + article {
    margin-top: 1.4em;
  }

  .project-images img {
    float: none;
    max-width: 100%;
  }
  .project-images img + img {
    max-width: 100%;
    margin: 1em 0 0 0;
  }

  .project-info ul {
    width: 100%;
    float: left;
    border-left: 0;
    margin-top: 1%;
    padding-left: 0;
    font-size: 0.8em;
  }
  .project-info ul li {
    float: left;
  }
  .project-info ul li + li {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 0.7em;
    line-height: 1.8;
  }

  header {
    margin: 0 5% 1.5em;
  }

  .employer {
    margin-top: 1.2em;
  }

  #container {
    margin: 0 5%;
    width: 90%;
  }

  p {
    line-height: 1.4;
  }

  .project-info header hgroup p {
    font-size: 0.9em;
  }
  .project-info ul {
    font-size: 1em;
  }
}
